.articles {
  width:100%;
  height:15rem;
  color:#ccc;
}

.blogContentContainer {
  border-top:5rem solid white;
  margin-top:5vh;
  margin-bottom:5vh;
  background:#fbfbfb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:auto;
}

.postListItem {
  background-repeat: no-repeat;
  background-position: center;
  height:30vh;
}

.card-content {
    background-color: none;
    /* background: rgba(247, 239, 237, 0.72); */
    text-transform:uppercase;
  }

.textOnlyArticle {
  background:#6bffb5 !important;
  padding:0.2rem !important;
}

.blogBannerTile {
  background:transparent;
}

.blogBannerTile .tile h1 a {
  background: #ffffffe0;
}

.blogBannerTile .tile:hover {
background:#6bffb5;
}

.filterBar {
  background:#ffffff14;
  color:#f6f6f6;
  border:none;
  margin-bottom:5vh;
  border-radius:0px !important;
}

.filterBar input {
  width: 100%;
  font-size: 2em !important;
  border: 1px solid transparent;
  color: #222;
  padding:1rem;
}

.blogBannerVertical {
  background:none;
}

.tileHeading {
  padding:0.5rem;
  border-radius:5px;
}

.titleCategory span {
  background:#eee;
  padding:0.5rem;
  margin:0.2rem;
  border-radius:20px;
  line-height:3em;
  font-size:calc(0.3rem + 1vw);
  text-transform:uppercase;
  font-weight:400;
}

.tileHeading span {
  background:white;
  color:black;
  font-size:1.5em;
  font-weight:200;
  padding:0.2rem;
  line-height:1.5em;
}

.tileHeadingLarge span {
  font-size:calc(2rem + 3vw);
  background:white;
  color:black;
  padding:0.2rem;
  line-height:1.5em;
}

.tileArticlePreview {
  font-size:calc(1rem + 1vw);
  background:white;
  padding:1rem;
  font-weight:200;
}

.tileArticleMain {
  font-size:calc(1rem + 1vw);
  background:white;
  padding:1rem;
  font-weight:200;
}

.tileArticleMain p {
  padding:1rem;
}
