.portfolioItem {
  position:relative;
  display:inline-block;
}

.hover-content {
  display:none;
  padding:1rem;
}

.portfolioItem .hover-content {
    width:auto;
    height:auto;
    position:absolute;
    left:0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:white;
}

.protectionNotice {
  padding:1rem;
  color:black !important;
}

.protectionNotice * {
  color:black;
  margin-top:15%;
}

.positionRight {
  right:0 !important;
  width:50% !important;
}

.positionTop {
  top:0 !important;
}

.positionBottom {
  bottom:0 !important;
  width:60%;
}