.welcomeContainer {
  /* background-color: #6efffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%231dfbff' stroke-width='0' stroke-opacity='0.03' %3E%3Ccircle fill='%236efffd' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2368f4ef' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2363e9e1' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%235dded3' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2358d3c6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2354c8b8' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%234fbdab' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%234ab29f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2346a892' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23419d86' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%233d937b' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2338896f' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23347e64' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232f745a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%232b6b4f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23266145' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2322573b' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%231d4e32' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  color:black;
  /* margin-top:20vh;
  margin-bottom:10vh; */
  margin-top:15vh;
}

.welcomeSkillsPanel button {
  margin:0.3rem;
}

.logoContainer {
  margin-bottom:8vh;
}
.logoGradient {
    background: #2ab5d3;
    border-radius: 0;
    background: #2ab5d3;
    background: linear-gradient(-45deg, #57cfb0, #2ab5d3);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    margin-top: 1.5rem;
}

.logoText {
  font-size:calc(2rem + 2vw);
  line-height:1.1em;
  font-weight:200;
}

.moreLink {
  padding-top:4rem;
  text-align:center;
  color:#777;
  background:white;
}

.moreLink p {
  font-weight:400;
}

.mostRecentFixed p {
font-size:0.8em;
font-weight:300;
color:#e6e6e6;
}

.mostRecentFixed {
  background:none;
}

.mostRecentFixed h1 {
  color:#ffffff8a;
  text-transform:uppercase;
}

.mostRecentFixed a {
color:white;
}

.searchInput {
width:100%;
height:4rem;
font-size:3em;
font-weight:200;
}

.articleLink {
  color:white !important;
  text-decoration:none !important;
  font-weight:200;
  border-bottom:1px solid white;
}
