.leftFloat {
  float:left;
  color:#d0c9c9 !important;
}

.navbar a:hover {
  background:#9a92920f !important;
  color:white !important;
}

.navbar {
position:fixed !important;
top:0;
height:auto;
width: 100vw;
background:none !important;
background:black!important;
transition: visibility 3s, opacity 0.5s linear;
border-bottom:1px solid #eee;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s, opacity 0.5s linear;
}
