.footerSticky {
  position:fixed;
  background:#ffffff;
   z-index:2000;
   top:0vh;
   font-size:1.3em;
   left:2rem;
}

.footerSticky li a {
  color:#888 !important;
  border-bottom: none !important;
  font-weight:300;
}

.footerSticky li.is-active a {
  color:#2fabab !important;
  font-weight:300;
}

.footerSticky .panel-block {
  height:100%;
}

.recentActivity {
  height:3rem;
  width:60%;
  bottom:0;
  left:0;
}

.mostRecentFixed p {
  font-weight:200;
  padding:1rem;
}
